@media screen and (max-width: 375px) {
  .plans-ordered {
    position: static;
    width: 343px;
    height: 20px;
    left: calc(50% - 343px / 2);
    top: calc(50% - 20px / 2 - 40px);

    /* Small Mobile */

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Grey */

    color: #22222c;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
  }
}
.plans-ordered {
  /* Paragraph Small/P Small Desktop */

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  /* Grey */

  color: #22222c;

  margin: 8px 0px;
}
@media screen and (max-width: 375px) {
  .yoga-access {
    position: static;
    width: 343px;
    height: 72px;
    left: calc(50% - 343px / 2);
    top: calc(50% - 72px / 2 + 14px);

    /* Heading 1/H1 Mobile */

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;
    /* or 129% */

    color: #000000;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
  }
}
@media screen and (min-width: 376px) {
  .yoga-access {
    font-size: 40px;
    line-height: 56px;

    text-align: center;

    color: #22222c;

    margin: 8px 0px;
    max-width: 100%;
  }
}
@media screen and (min-width: 727px) {
  .plan-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 1px;
    left: 195.5px;
    top: 116px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
  }
}
.choose-plan-text {
  position: static;
  width: 352px;

  /* Heading 3/H3 Desktop */

  font-family: SF Pro Display;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  /* Grey */

  color: #22222c;

  margin: 16px 0px;
}
.program-header-text {
  font-size: 24px;
  line-height: 32px;

  color: #22222c;

  /* Inside Auto Layout */
}

.choose-plan-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 1px;

  position: static;
  width: 729px;
  height: 771px;
  left: 195.5px;
  top: 116px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 32px 0px;
}

.program-description-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  left: 52.81%;
  right: 0.14%;
  top: 0%;
  bottom: 28.15%;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 32px;
}
@media screen and (max-width: 726px) {
  .program-description-block {
    margin: auto;
  }
}
@media screen and (min-width: 727px) {
  .program-description-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    left: 52.81%;
    right: 0.14%;
    top: 0%;
    bottom: 28.15%;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 32px;
  }
}
