.plans-ordered {
  /* Paragraph Small/P Small Desktop */

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  /* Grey */

  color: #22222c;

  margin: 8px 0px;
}
@media screen and(min-width: 680px) {
  .yoga-access {
    font-size: 40px;
    margin-top: 30px;
    display: flex;
    margin: auto;
  }
}

@media screen and(max-width: 610px) {
  .yoga-access {
    display: flex;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
  }
}
@media screen and (min-width: 794px) {
  .plan-block {
    display: flex;
    flex-direction: row;
  }
}
.choose-plan-text {
  width: 352px;
  font-family: SF Pro Display;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  /* Grey */

  color: #22222c;
}
.program-header-text {
  font-size: 24px;
  line-height: 32px;

  color: #22222c;

  /* Inside Auto Layout */
}
.program-description-block {
  display: flex;
  flex-direction: column;
  margin: 0px 32px;
}
@media screen and (max-width: 726px) {
  .program-description-block {
    margin: auto;
  }
}
