@media screen and (max-width: 375px) {
  .header {
    position: absolute;
    width: 375px;
    left: 0px;
    top: 50px;
    border-radius: 0px;
  }
}
.header {
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
}
