.plans-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 352px;
  height: 409px;
  left: 0px;
  top: 80px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
}

.pricing-checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;

  width: 352px;
  height: 131px;
  left: 0px;
  top: 0px;

  /* White */

  background: #ffffff;
  /* Primary */

  border: 2px solid #ff9b4e;
  box-sizing: border-box;
  border-radius: 16px;
  margin-bottom: 8px;
}
.pricing-left-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 320px;
  height: 99px;
  left: 16px;
  top: 16px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}
.pricing-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 292px;
  height: 99px;
  left: 0px;
  top: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
  margin-bottom: 45px;
}
.pricing-title {
  position: static;
  left: 0%;
  right: 46.2%;
  top: 0%;
  bottom: 0%;

  /* Heading 5/H5 Desktop */

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: -0.4px;

  /* Grey */

  color: #22222c;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}
.pricing-discount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;

  position: static;
  width: 77px;
  height: 24px;
  left: 107px;
  top: 0px;

  /* Yellow */
  background: #ffe082;
  border-radius: 6px;
  padding: 0;
  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}
.pricing-title-discount {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 184px;
  left: 0px;
  top: 0%;
  bottom: 75.76%;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 7px 0px;
}
.pricing-discount-text {
  position: static;
  left: 10.39%;
  right: 10.39%;
  top: 12.5%;
  bottom: 12.5%;

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  /* Grey */

  color: #22222c;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.pricing-prices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 292px;
  height: 68px;
  left: 0px;
  top: 31px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 7px 0px;
}
.pricing-monthly-payment {
  position: static;
  left: 0%;
  right: 68.84%;
  top: 0%;
  bottom: 0%;

  /* Heading 2/H2 Desktop */

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  /* identical to box height, or 137% */

  /* Grey */

  color: #22222c;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px;
}
.pricing-month {
  position: static;
  left: 32.53%;
  right: 50%;
  top: 27.27%;
  bottom: 0%;

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 31px;
  /* identical to box height, or 225% */

  display: flex;
  align-items: flex-end;

  /* Grey */

  color: #22222c;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 4px;
}
.pricing-monthly-payment-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 292px;
  height: 44px;
  left: 0px;
  top: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px 0px;
}
.pricing-old-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 292px;
  height: 20px;
  left: 0px;
  top: 48px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 4px 0px;
}
.pricing-old {
  position: static;
  left: 0%;
  right: 82.19%;
  top: 0%;
  bottom: 0%;

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-decoration-line: line-through;

  /* Grey */

  color: #22222c;

  mix-blend-mode: normal;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}
.pricing-info {
  position: static;
  left: 20.55%;
  right: -4.45%;
  top: 0%;
  bottom: 0%;

  /* Paragraph Small/P Small Desktop */

  font-family: SF Pro Text;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Primary */

  color: #000000;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}
.pricing-circle {
  position: static;
  left: 92.5%;
  right: 0%;
  top: 37.88%;
  bottom: 37.88%;

  opacity: 0.08;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px;
}

.pricing-circle-selected {
  position: static;
  left: 92.5%;
  right: 0%;
  top: 37.88%;
  bottom: 37.88%;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px;
}

.plan-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 352px;
  height: 56px;

  /* Primary */

  background: #ff9b4e;
  /* Button Shadow */

  box-shadow: 0px 16px 32px rgba(255, 155, 78, 0.24);
  border-radius: 8px;
  border: none;
}
.plan-button-text {
  /* Paragraph Regular Emphasized/P Regular Emphasized Desktop */

  font-family: SF Pro Text;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.4px;

  /* White */

  color: #ffffff;

  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.get-plan-text {
  position: static;
  width: 352px;
  left: calc(50% - 352px / 2);
  top: 74.84%;
  bottom: 15.82%;

  /* Caption Mobile */

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  text-align: center;

  /* Black */

  color: #39353c;

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}
.get-my-plan-text {
  position: static;
  width: 92px;
  height: 24px;
  left: calc(50% - 92px / 2);
  top: calc(50% - 24px / 2);

  /* Paragraph Regular Emphasized/P Regular Emphasized Mobile */

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: -0.4px;

  /* White */

  color: #ffffff;

  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.payment-terms {
  position: static;
  width: 352px;
  left: calc(50% - 352px / 2);
  top: 86.25%;
  bottom: 9.08%;

  /* Caption Mobile */

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  text-align: center;

  /* Black */

  color: #39353c;
}
.safe-checkout {
  position: static;
  width: 352px;
  left: calc(50% - 352px / 2);
  top: 93%;
  bottom: 0%;

  background: url("../assets/checkout_icon.png");

  /* Inside Auto Layout */

  flex: none;
  order: 5;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
  height: 54px;
  border-radius: 0px;
}
.orange-text {
  color: #ff9b4e;
}
.monthly-payments {
  position: static;
  left: 0%;
  right: 68.84%;
  top: 0%;
  bottom: 0%;

  /* Heading 2/H2 Desktop */

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  /* identical to box height, or 137% */

  /* Grey */

  color: #22222c;
}
