.plans-content {
  margin: 16px 0px;
}

.pricing-checkout {
  padding: 16px;
  width: 352px;
  height: 131px;

  border: 2px solid #ff9b4e;
  box-sizing: border-box;
  border-radius: 16px;
  margin-bottom: 8px;
}
.pricing-left-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 99px;
  margin: 8px 0px;
}
.pricing-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 99px;
  margin: 0px 4px;
  margin-bottom: 45px;
}
.pricing-title {
  /* Heading 5/H5 Desktop */

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: -0.4px;

  /* Grey */
  color: #22222c;
  margin: 0px 8px;
}
.pricing-discount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 24px;
  background: #ffe082;
  border-radius: 6px;
  margin: 0px 8px;
}
.pricing-title-discount {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 7px 0px;
}
.pricing-discount-text {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #22222c;
}
.pricing-prices {
  display: flex;
  flex-direction: column;
  margin: 7px 0px;
}
.pricing-monthly-payment {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #22222c;
  margin: 0px 4px;
}
.pricing-month {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 31px;
  color: #22222c;
  margin: 0px 4px;
}
.pricing-monthly-payment-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px 0px;
}
.pricing-old-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 292px;
  margin: 4px 0px;
}
.pricing-old {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: line-through;

  /* Grey */

  color: #22222c;

  mix-blend-mode: normal;
  margin: 0px 8px;
}
.pricing-info {
  font-family: SF Pro Text;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0px 8px;
}
.pricing-circle {
  opacity: 0.08;
}

.pricing-circle-selected {
  margin: 0px 4px;
}

.plan-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 352px;
  height: 56px;

  /* Primary */

  background: #ff9b4e;
  /* Button Shadow */

  box-shadow: 0px 16px 32px rgba(255, 155, 78, 0.24);
  border-radius: 8px;
  border: none;
}
.plan-button-text {
  /* Paragraph Regular Emphasized/P Regular Emphasized Desktop */

  font-family: SF Pro Text;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.4px;

  /* White */

  color: #ffffff;

  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.get-plan-text {
  width: 352px;

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  text-align: center;

  /* Black */

  color: #39353c;

  margin: 16px 0px;
}
.get-my-plan-text {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #ffffff;

  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.payment-terms {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  /* Black */

  color: #39353c;
}
.safe-checkout {
  background: url("../assets/checkout_icon.svg");

  margin: 16px 0px;
  height: 54px;
}
.orange-text {
  color: #ff9b4e;
}
.monthly-payments {
  /* Heading 2/H2 Desktop */

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  /* identical to box height, or 137% */

  /* Grey */

  color: #22222c;
}
