@media screen and (max-width: 375px) {
  .program {
    display: flex;
    width: 343px;
    margin-left: 15px;
  }
}
.program {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.access-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0px;
}

.program-description {
  margin-top: 5px;
}
