@media screen and (max-width: 375px) {
  .program {
    width: 343px;
    margin: 40px 0px;
    margin-left: 15px;
  }
}
.program {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.access-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0px;
}

.program-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 343px;
  height: 474px;
  left: 0px;
  top: 80px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 48px 0px;
  margin-top: 5px;
}
