.stories-heading-text {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: center;

  /* Grey */

  color: #22222c;
}
@media screen and (max-width: 1165px) and (min-width: 376px) {
  .testimonies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px 0px;
  }
}
.testimonies-block {
  display: flex;
  flex-direction: column;
  padding: 16px;

  /* White */

  background: #ffffff;
  /* Card-shadow */

  box-shadow: 0px 16px 32px rgba(57, 53, 60, 0.08);
  border-radius: 16px;

  margin: 0px 16px;
}
@media screen and (min-width: 1166px) {
  .testimonies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 24px 0px;
  }
  .testimonies-block {
    width: 319px;
  }
}

.rating-block {
  height: 24px;
}
.image-block {
  height: 153px;
  margin: 16px 0px;
}
.comment-block {
  line-height: 24px;
}
.name-text {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.4px;

  /* Grey */

  color: #22222c;

  mix-blend-mode: normal;

  margin: 0px 0px;
}
.location-text {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #22222c;

  mix-blend-mode: normal;
  opacity: 0.64;
  margin: 0px 0px;
}
.star {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 12.5%;

  /* Yellow */

  background: #ffcc80;
}
.stories-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 343px;
  height: 56px;

  background: #ff9b4e;
  /* Button Shadow */

  box-shadow: 0px 16px 32px rgba(255, 155, 78, 0.24);
  border-radius: 8px;
  border: none;
  flex-grow: 0;
  margin: 48px 0px;
}
